iidm/iidm-extensions/src/main/resources/xsd/twoWindingsTransformerToBeEstimated.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.powsybl.org/schema/iidm/ext/two_windings_transformer_to_be_estimated/1_0"
           elementFormDefault="qualified">
    <xs:element name="twoWindingsTransformerToBeEstimated">
        <xs:complexType>
            <xs:attribute name="ratioTapChangerStatus" use="required" type="xs:boolean"/>
            <xs:attribute name="phaseTapChangerStatus" use="required" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
