iidm/iidm-serde/src/main/resources/xsd/acmcs_V1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2025, RTE (http://www.rte-france.com)
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
    SPDX-License-Identifier: MPL-2.0

-->
<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:acmc="http://www.powsybl.org/schema/iidm/ext/acmcs/1_0"
           targetNamespace="http://www.powsybl.org/schema/iidm/ext/acmcs/1_0"
           elementFormDefault="qualified">
    <xs:complexType name="MeasurementPoint">
        <xs:sequence>
            <xs:element name="busbarSectionOrBusId" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ControlVoltageLevel">
        <xs:simpleContent>
            <xs:extension base="xs:string"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="Acmc">
        <xs:sequence>
            <xs:element name="measurementPoint" type="acmc:MeasurementPoint" minOccurs="1" maxOccurs="1"/>
            <xs:element name="controlVoltageLevel" type="acmc:ControlVoltageLevel" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="name" use="required" type="xs:string"/>
    </xs:complexType>
    <xs:element name="acmcs">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="acmc" type="acmc:Acmc" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
