iidm/iidm-serde/src/main/resources/xsd/batteryShortCircuit_V0_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.itesla_project.eu/schema/iidm/ext/battery_short_circuits/1_0"
           elementFormDefault="qualified">
    <xs:element name="batteryShortCircuits">
        <xs:complexType>
            <xs:attribute name="transientReactance" use="required" type="xs:float"/>
            <xs:attribute name="stepUpTransformerReactance" use="required" type="xs:float"/>
        </xs:complexType>
    </xs:element>
</xs:schema>