iidm/iidm-serde/src/main/resources/xsd/batteryShortCircuit_V1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.itesla_project.eu/schema/iidm/ext/battery_short_circuit/1_0"
           elementFormDefault="qualified">
    <xs:element name="batteryShortCircuit">
        <xs:complexType>
            <xs:attribute name="directSubtransX" use="optional" type="xs:double"/>
            <xs:attribute name="directTransX" use="required" type="xs:double"/>
            <xs:attribute name="stepUpTransformerX" use="optional" type="xs:double"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
