iidm/iidm-serde/src/main/resources/xsd/generatorConnectionLevel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2025, RTE (http://www.rte-france.com)
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
    SPDX-License-Identifier: MPL-2.0

-->
<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:gcl="http://www.powsybl.org/schema/iidm/ext/generator_connection_level/1_0"
           targetNamespace="http://www.powsybl.org/schema/iidm/ext/generator_connection_level/1_0"
           elementFormDefault="qualified">
    <xs:simpleType name="GeneratorConnectionLevelType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TSO"/>
            <xs:enumeration value="DSO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="generatorConnectionLevel">
        <xs:complexType>
            <xs:attribute name="level" use="required" type="gcl:GeneratorConnectionLevelType"/>
        </xs:complexType>
    </xs:element>
</xs:schema>