iidm/iidm-serde/src/main/resources/xsd/lineFortescue_V1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2023, RTE (http://www.rte-france.com)
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
    SPDX-License-Identifier: MPL-2.0

-->
<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.powsybl.org/schema/iidm/ext/line_fortescue/1_0"
           elementFormDefault="qualified">
    <xs:element name="lineFortescue">
        <xs:complexType>
            <xs:attribute name="rz" type="xs:double"/>
            <xs:attribute name="xz" type="xs:double"/>
            <xs:attribute name="openPhaseA" type="xs:boolean"/>
            <xs:attribute name="openPhaseB" type="xs:boolean"/>
            <xs:attribute name="openPhaseC" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
